<?xml version='1.0' encoding='utf-8'?>
<widget id="inventario.soluciones.com" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FIME Inventarios</name>
    <description>
        Aplicación de FIME para control de Inventarios
    </description>
    <author email="juan.cepeda.soluciones@gmail.com" href="https://solucionesendesarrollo.com">
        Soluciones en desarrollo
    </author>
    <content src="index.html" />
    <icon density="mdpi" height="57" platform="android" src="static/img/Logo.png" width="57" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
